table {
  border: 2px solid;
}

td {
  border: 1px solid;
  padding: 5px;
  text-align: center;
  width: 200px;
  max-width: fit-content;
  font-size: 60px;
}

.display {
  width: 100%;  
  background-color: #dcdbe1;
  height: 100px;
  color: black;
  font-size: 60px;
}