body {
	padding: 0;
	margin: 0;
	background-color: azure;
}

.calculator {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	height: 100vh;
	overflow: hidden;
	background-color: #8a25aa;
}

.calc_bttn {
	background-color: black;
	border: 10px solid rgba(47,47,47,1);
	border-radius: 8px;
	display: grid;
	grid-template-columns: repeat(4, 100px);
	grid-template-rows: minmax(100px, auto) repeat(5, 80px);
	gap: 0.4em;
}

button {
	cursor: pointer;
	font-size: 2rem;
	border: 1px solid black;
	border-radius: 5px;
	background-color: #217C7E;
}

.rd {
	background-color: red;
}

.bl {
	background-color: dodgerblue;
}

.key_operator, .key_equal {
	background-color: #FF8F1F;
}

button:active {
	background-color: #33b9bb;
}

.span_two {
	grid-column: span 2;
}

.calc_display {
	grid-column: 1 / -1;
	background-color: #1e2523;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-end;
  text-align: end;
	padding: 10px;
	font-size: 2.4rem;
	color: azure;
}