table {
  border: 10px solid;
  border-radius:10px;
}

td {
  padding: 5px;
  text-align: center;
  width: 400px;
  max-width: fit-content;
  font-size: 60px;
}

.display {
  width: 100%;  
  background-color: #dcdbe1;
  height: 100px;
  color: black;
  font-size: 60px;
}

input[type=button] {
  background-color: #28558f;
  color: rgb(255, 255, 255);
  width: 100%;
  height: 100px;
  outline: none;
  font-size: 50px;
  border-radius:10px;
}

#clear-btn {
  background-color: red;
}
.calculator{
  margin: auto;
}